.bol{
    margin-left: 140px;
    margin-top: -30px;
}
.hok{
    margin-bottom: 30px;
}
.hok1{
    margin-top: -20px;
}
.hok2{
    margin-top: 30px;
    margin-bottom: 30px;
}
.mll{
    margin-left: 190px;
}